# Time Series Basics

## Importing Time Series Data from csv-Files

In [3]:
import pandas as pd

In [4]:
temp = pd.read_csv("temp.csv", parse_dates = ["datetime"], index_col= "datetime")

In [5]:
temp.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [6]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [7]:
type(temp.iloc[0, 0])

numpy.float64

In [8]:
temp.index

DatetimeIndex(['2013-01-01 00:00:00', '2013-01-01 01:00:00',
               '2013-01-01 02:00:00', '2013-01-01 03:00:00',
               '2013-01-01 04:00:00', '2013-01-01 05:00:00',
               '2013-01-01 06:00:00', '2013-01-01 07:00:00',
               '2013-01-01 08:00:00', '2013-01-01 09:00:00',
               ...
               '2016-12-31 14:00:00', '2016-12-31 15:00:00',
               '2016-12-31 16:00:00', '2016-12-31 17:00:00',
               '2016-12-31 18:00:00', '2016-12-31 19:00:00',
               '2016-12-31 20:00:00', '2016-12-31 21:00:00',
               '2016-12-31 22:00:00', '2016-12-31 23:00:00'],
              dtype='datetime64[ns]', name='datetime', length=35064, freq=None)

In [9]:
temp.index[0]

Timestamp('2013-01-01 00:00:00')

## Converting strings to datetime objects with pd.to_datetime()

In [10]:
import pandas as pd

In [11]:
temp = pd.read_csv("temp.csv")

In [12]:
temp.head()

              datetime    LA   NY
0  2013-01-01 00:00:00  11.7 -1.1
1  2013-01-01 01:00:00  10.7 -1.7
2  2013-01-01 02:00:00   9.9 -2.0
3  2013-01-01 03:00:00   9.3 -2.1
4  2013-01-01 04:00:00   8.8 -2.3

In [11]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  35064 non-null  object
 1   LA        35062 non-null  float64
 2   NY        35064 non-null  float64
dtypes: float64(2), object(1)
memory usage: 821.9+ KB

In [12]:
temp.datetime[0]

'2013-01-01 00:00:00'

In [13]:
pd.to_datetime(temp.datetime)

0       2013-01-01 00:00:00
1       2013-01-01 01:00:00
2       2013-01-01 02:00:00
3       2013-01-01 03:00:00
4       2013-01-01 04:00:00
                ...
35059   2016-12-31 19:00:00
35060   2016-12-31 20:00:00
35061   2016-12-31 21:00:00
35062   2016-12-31 22:00:00
35063   2016-12-31 23:00:00
Name: datetime, Length: 35064, dtype: datetime64[ns]

In [14]:
temp = temp.set_index(pd.to_datetime(temp.datetime)).drop("datetime", axis = 1)

In [15]:
temp.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [16]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [17]:
temp.index[0]

Timestamp('2013-01-01 00:00:00')

In [18]:
pd.to_datetime("2015-05-20 10:30:20")

Timestamp('2015-05-20 10:30:20')

In [19]:
pd.to_datetime("20150520")

Timestamp('2015-05-20 00:00:00')

In [20]:
pd.to_datetime("2015/05/20")

Timestamp('2015-05-20 00:00:00')

In [21]:
pd.to_datetime("2015 05 20")

Timestamp('2015-05-20 00:00:00')

In [ ]:
#pd.to_datetime("2015-20-05")

In [ ]:
pd.to_datetime("2015 May 20")

In [ ]:
pd.to_datetime("May 2015 20")

In [ ]:
pd.to_datetime("2015 20th may")

In [ ]:
pd.to_datetime(["2015-05-20", "Feb 20 2015"])

In [ ]:
pd.to_datetime(["2015-05-20", "Feb 20 2015", "Elephant"], errors="coerce")

## Indexing and Slicing Time Series

In [13]:
import pandas as pd

In [14]:
temp = pd.read_csv("temp.csv", parse_dates= ["datetime"], index_col= "datetime")

In [15]:
temp.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [16]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [ ]:
temp.loc["2013-01-01 01:00:00"]

In [ ]:
temp.loc["2015"]

In [ ]:
temp.loc["2015-05"]

In [ ]:
temp.loc["2015-05-20"].shape

In [ ]:
temp.loc["2015-05-20 10:00:00"]

In [ ]:
#temp.loc["2015-05-20 10:30:00"]

In [ ]:
temp.loc["2015-01-01" : "2015-12-31"]

In [ ]:
temp.loc["2015-01-01" : "2015-12-31"].equals(temp.loc["2015"])

In [ ]:
temp.loc["2015-04-15" : "2016-02-23"]

In [ ]:
temp.loc["2015-05-20":]

In [ ]:
temp.loc[:"2015-05-20"]

In [ ]:
temp.loc["20FEBRUARY2015"]

In [ ]:
temp.loc[["2015-05-20 10:00:00", "2015-05-20 12:00:00"]] # update: works now

In [ ]:
two_timestamps = pd.to_datetime(["2015-05-20 10:00:00", "2015-05-20 12:00:00"])
two_timestamps

In [ ]:
temp.loc[two_timestamps]

## Downsampling Time Series with resample()

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [2]:
temp = pd.read_csv("temp.csv", parse_dates= ["datetime"], index_col = "datetime")

In [3]:
temp.head()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3

In [4]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35064 entries, 2013-01-01 00:00:00 to 2016-12-31 23:00:00
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LA      35062 non-null  float64
 1   NY      35064 non-null  float64
dtypes: float64(2)
memory usage: 821.8 KB

In [13]:
list(temp.resample("D"))[1][1]

                       LA   NY
datetime
2013-01-02 00:00:00  13.2  2.6
2013-01-02 01:00:00  11.8  2.7
2013-01-02 02:00:00  10.5  2.9
2013-01-02 03:00:00   9.5  2.9
2013-01-02 04:00:00   8.3  2.9
2013-01-02 05:00:00   8.0  3.5
2013-01-02 06:00:00   7.5  3.7
2013-01-02 07:00:00   7.1  3.5
2013-01-02 08:00:00   6.4  3.7
2013-01-02 09:00:00   6.0  3.6
2013-01-02 10:00:00   5.9  3.5
2013-01-02 11:00:00   6.1  3.6
2013-01-02 12:00:00   5.8  3.5
2013-01-02 13:00:00   5.6  3.5
2013-01-02 14:00:00   5.8  3.7
2013-01-02 15:00:00   5.9  4.0
2013-01-02 16:00:00   6.4  4.0
2013-01-02 17:00:00   9.0  3.6
2013-01-02 18:00:00  11.5  3.1
2013-01-02 19:00:00  13.3  3.2
2013-01-02 20:00:00  14.2  3.2
2013-01-02 21:00:00  15.0  2.9
2013-01-02 22:00:00  14.9  2.0
2013-01-02 23:00:00  15.1  1.2

In [6]:
temp.head(25)

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3
2013-01-01 05:00:00   8.7 -2.5
2013-01-01 06:00:00   6.9 -3.2
2013-01-01 07:00:00   7.8 -3.4
2013-01-01 08:00:00   6.7 -3.0
2013-01-01 09:00:00   6.6 -1.8
2013-01-01 10:00:00   6.1 -1.4
2013-01-01 11:00:00   5.6 -1.8
2013-01-01 12:00:00   5.1 -1.7
2013-01-01 13:00:00   5.2 -1.5
2013-01-01 14:00:00   4.6 -1.0
2013-01-01 15:00:00   5.1 -0.0
2013-01-01 16:00:00   6.2  1.2
2013-01-01 17:00:00   9.3  2.2
2013-01-01 18:00:00  11.4  3.3
2013-01-01 19:00:00  12.0  3.5
2013-01-01 20:00:00  12.9  3.1
2013-01-01 21:00:00  13.9  2.4
2013-01-01 22:00:00  14.1  2.4
2013-01-01 23:00:00  14.0  2.7
2013-01-02 00:00:00  13.2  2.6

In [7]:
temp.resample("D").sum()

               LA     NY
datetime
2013-01-01  212.6   -9.7
2013-01-02  222.8   77.0
2013-01-03  247.3  -58.2
2013-01-04  276.3  -49.7
2013-01-05  266.0   19.6
...           ...    ...
2016-12-27  291.7  253.9
2016-12-28  346.4   96.4
2016-12-29  385.1   31.5
2016-12-30  382.4   52.9
2016-12-31  318.6   28.9

[1461 rows x 2 columns]

In [8]:
temp.resample("2H").first()

/var/folders/g9/6f_f1bdn263f0w4fkmv560ym0000gp/T/ipykernel_47857/4002659546.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  temp.resample("2H").first()

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 04:00:00   8.8 -2.3
2013-01-01 06:00:00   6.9 -3.2
2013-01-01 08:00:00   6.7 -3.0
...                   ...  ...
2016-12-31 14:00:00  12.7 -1.3
2016-12-31 16:00:00  12.6  1.1
2016-12-31 18:00:00  13.2  3.4
2016-12-31 20:00:00  13.2  5.7
2016-12-31 22:00:00  12.3  5.7

[17532 rows x 2 columns]

In [9]:
temp.resample("W").mean()

                   LA        NY
datetime
2013-01-06  10.214583  0.222917
2013-01-13  10.494048  4.245238
2013-01-20  11.119643  3.924405
2013-01-27  15.586905 -4.660714
2013-02-03  11.569643  1.502381
...               ...       ...
2016-12-04  12.975595  8.024405
2016-12-11  13.738095  1.922619
2016-12-18  13.466667  0.052381
2016-12-25  13.007143  1.149405
2017-01-01  13.511806  3.479861

[209 rows x 2 columns]

In [10]:
temp.resample("W-Wed").mean()

                   LA        NY
datetime
2013-01-02   9.070833  1.402083
2013-01-09  11.033333  1.033929
2013-01-16   8.870238  6.001190
2013-01-23  14.678571  1.010714
2013-01-30  12.554762 -4.382738
...               ...       ...
2016-12-07  13.205357  5.964286
2016-12-14  14.490476  1.228571
2016-12-21  13.209524 -2.248810
2016-12-28  11.930357  4.688095
2017-01-04  15.084722  1.573611

[210 rows x 2 columns]

In [11]:
temp.resample("M").mean()

/var/folders/g9/6f_f1bdn263f0w4fkmv560ym0000gp/T/ipykernel_47857/4195775741.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  temp.resample("M").mean()

                   LA         NY
datetime
2013-01-31  11.596237   1.129570
2013-02-28  12.587202   0.617857
2013-03-31  15.069946   3.719220
2013-04-30  16.487361  10.699306
2013-05-31  19.005780  15.824328
2013-06-30  19.905417  22.225694
2013-07-31  22.093952  26.329704
2013-08-31  21.513172  22.480376
2013-09-30  22.404861  18.291806
2013-10-31  16.620430  14.335215
2013-11-30  15.107917   7.111944
2013-12-31  13.416935   2.776210
2014-01-31  16.247715  -2.210349
2014-02-28  14.326637  -1.596280
2014-03-31  15.836156   1.994758
2014-04-30  16.783472  10.128611
2014-05-31  20.041398  16.829167
2014-06-30  19.810556  21.784861
2014-07-31  23.056183  24.019624
2014-08-31  22.146102  21.848387
2014-09-30  21.620278  19.267222
2014-10-31  16.968280  14.265860
2014-11-30  11.322083   5.719167
2014-12-31   8.523925   3.513844
2015-01-31   9.527016  -4.179301
2015-02-28  11.587649  -7.239732
2015-03-31  14.465995   1.020161
2015-04-30  13.527917  10.180417
2015-05-31  14.540054  18.731586
2015-06-30  20.995000  20.347500
2015-07-31  22.899059  24.252151
2015-08-31  24.846909  24.046774
2015-09-30  24.586250  21.589861
2015-10-31  21.785753  12.656452
2015-11-30  15.255278  10.117500
2015-12-31  11.919758   8.662500
2016-01-31  12.509274   0.168952
2016-02-29  16.600431   2.069971
2016-03-31  15.686425   8.070430
2016-04-30  17.726111  10.535556
2016-05-31  17.375403  15.874462
2016-06-30  22.536111  21.462639
2016-07-31  24.541532  24.767608
2016-08-31  23.983199  25.351882
2016-09-30  22.379306  21.032778
2016-10-31  16.137903  14.321640
2016-11-30  17.196111   8.539722
2016-12-31  13.390457   2.327285

In [ ]:
temp.resample("MS").mean()

In [ ]:
temp.resample("MS", loffset="14D").mean() # deprecated

In [ ]:
# NEW
temp2 = temp.resample("MS").mean() 
temp2.index = temp2.index + pd.tseries.frequencies.to_offset("14D")
temp2

In [ ]:
temp.resample("Q").mean()

In [ ]:
temp.resample("Q-Feb").mean()

In [ ]:
temp.resample("Y").mean()

In [ ]:
temp.resample("YS").mean()